<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quote List</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Quote List</h2>
        <form method="get" action="/quotes/fetch">
            <button class="btn btn-primary" type="submit">Fetch Data</button>
        </form>
        <table class="table table-bordered" id="quoteTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Quote ID</th>
                    <th>Author</th>
                    <th>Content</th>
                    <th>Date Added</th>
                    <th>Date Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="quote : ${quotes}">
                    <td th:text="${quote.id}"></td>
                    <td th:text="${quote.quote_id}"></td>
                    <td th:text="${quote.author}"></td>
                    <td th:text="${quote.content}"></td>
                    <td th:text="${quote.date_added}"></td>
                    <td th:text="${quote.date_modified}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
